
body {
    background-color: rgb(243,242,242);
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: rgb(235,216,217);
}

.list {
    background-color: rgb(249,249,249);
    max-width: 600px;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    color: rgb(144,144,144)
}

.borderOne {
    max-width: 588px;
    margin-bottom: 1rem;
    margin: auto;
    padding: 3px;
    background-color: rgb(249,249,249);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.borderTwo {
    max-width: 578px;
    margin-bottom: 1rem;
    margin: auto;
    padding: 3px;
    background-color: rgb(249,249,249);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}